<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://i.ibb.co/DpYbY10/Beer-logo-2.png" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "ABOUT", "/#about", class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "DISCOVER", "/#discover", class: "nav-link" %>
      </li>

      <li class="nav-item">
        <a href=""></a>
        <%= link_to "CONTACT", "https://www.linkedin.com/in/mateo-huylebroeck/", class: "nav-link", id:"btn-navbar" %>
      </li>

    </ul>
  </div>
</div>
